<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title> {% block title %} Currency App {% endblock %} </title>
</head>

<body>
    <h1> Currency Converter Application </h1>

    <img src="https://www.investopedia.com/thmb/U3PJK-PjTcXnWSDi9TG7DlV1cQE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/money-mix-of-foreign-currency-notes-164127912-e9242d8f4d2640beb4ade84647375c11.jpg" alt=" Currency Image ">



    
    {% block content %}     


    <form action="/convert-form">
        <button type="submit"> Begin Currency Conversion </button>
    </form>
    
    
    {% endblock %}

    

</body>
</html>